*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background:#ddd;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.board {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid black;
}

.square {
    flex-basis: 12.5%;
    overflow: hidden;
    position: relative;
}

.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.square-content {
    left: 0;
    position: absolute;
    top: 0;
}

.light-square {
    background: #D3A279;
}

.dark-square {
    background: #75513B;
}
